.pull-right
  %a{href: spell_component_types_path}
    %span.glyphicon.glyphicon-list
  -if can? :create, SpellComponentType
    %a{href: new_spell_component_type_path}
      %span.glyphicon.glyphicon-plus
  - if can? :edit, @spell_component_type
    %a{href: edit_spell_component_type_path(@spell_component_type)}
      %span.glyphicon.glyphicon-pencil
  - if can? :destroy, @spell_component_type
    %a{href: spell_component_type_path(@spell_component_type), data: {method: :delete, confirm: "Are you sure you want to delete #{@spell_component_type}?"}}
      %span.glyphicon.glyphicon-trash
%h1.title Spell component type #{@spell_component_type}
%p
  %b Name:
  = @spell_component_type.name
%p
  %b Key:
  = @spell_component_type.key
%p
  %b Desc:
  = @spell_component_type.desc
