-if can? :create, Race
  .pull-right
    %a{href: new_race_path}
      %span.glyphicon.glyphicon-plus
      New Race

%h1.title Races

%table.compact
  %tr
    %th Name
    %th Size
    %th Speed
    %th Str
    %th Dex
    %th Con
    %th Int
    %th Wis
    %th Cha
  - @races.each do |race|
    %tr
      %td
        %a{href: race_path(race)}
          = race.name
      %td= link_me race.size
      %td= race.speed
      %td= race.str
      %td= race.dex
      %td= race.con
      %td= race.int
      %td= race.wis
      %td= race.cha


