= simple_form_for(@feat) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :feat_type
    = f.association :prerequisite_feats
    = f.input :fighter_bonus_feat, inline_label: 'A fighter may select this feat as one of his fighter bonus feats.'
    = f.input :prerequisites
    = f.input :desc
    = f.input :modifiers
    = f.input :benefit

  .form-actions
    = f.button :submit
