.pull-right
  %a{href: feats_path}
    %span.glyphicon.glyphicon-list
  -if can? :create, Feat
    %a{href: new_feat_path}
      %span.glyphicon.glyphicon-plus
  - if can? :edit, @feat
    %a{href: edit_feat_path(@feat)}
      %span.glyphicon.glyphicon-pencil
  - if can? :destroy, @feat
    %a{href: feat_path(@feat), data: {method: :delete, confirm: "Are you sure you want to delete #{@feat}?"}}
      %span.glyphicon.glyphicon-trash
%h1.title Feat #{@feat}
%p
  %b Name:
  = @feat.name
%p
  %b Feat type:
  = link_me @feat.feat_type
:markdown
  #{@feat.desc}
%p
  %b Modifiers:
  = @feat.modifiers
%p
  %b Prerequisites:
  = @feat.prerequisites
%p
  %b Benefit:
  = @feat.benefit
