.pull-right
  %a{href: character_class_levels_path}
    %span.glyphicon.glyphicon-list
  -if can? :create, CharacterClassLevel
    %a{href: new_character_class_level_path}
      %span.glyphicon.glyphicon-plus
  - if can? :edit, @character_class_level
    %a{href: edit_character_class_level_path(@character_class_level)}
      %span.glyphicon.glyphicon-pencil
  - if can? :destroy, @character_class_level
    %a{href: character_class_level_path(@character_class_level), data: {method: :delete, confirm: "Are you sure you want to delete #{@character_class_level}?"}}
      %span.glyphicon.glyphicon-trash
%h1.title Character class level #{@character_class_level}
%p
  %b Character:
  = @character_class_level.character
%p
  %b Character class:
  = @character_class_level.character_class
%p
  %b Class level:
  = @character_class_level.class_level
