-if can? :create, Size
  .pull-right
    %a{href: new_size_path}
      %span.glyphicon.glyphicon-plus
      New Size
%h1.title Listing Sizes

%table.sizes.compact
  %tr
    %th Name
    %th Modifier
    %th AC
    %th Attack
    %th Hide
    -if can? :create, Size
      %th
        %a{href: new_size_path}
          %span.glyphicon.glyphicon-plus
          New Size

  - @sizes.each do |size|
    %tr{class: "size_#{size.id}"}
      %td.name
        %a{href: size_path(size)}
          = size.name
      %td.modifier= bonus size.modifier
      %td.ac= bonus size.ac
      %td.attack= bonus size.attack
      %td.hide_bonus= bonus size.hide
      - if can? :edit, size
        %td
          %a{href: edit_size_path(size)}
            %span.glyphicon.glyphicon-pencil
            Edit

