.pull-right
  %a{href: class_levels_path}
    %span.glyphicon.glyphicon-list
  -if can? :create, ClassLevel
    %a{href: new_class_level_path}
      %span.glyphicon.glyphicon-plus
  - if can? :edit, @class_level
    %a{href: edit_class_level_path(@class_level)}
      %span.glyphicon.glyphicon-pencil
  - if can? :destroy, @class_level
    %a{href: class_level_path(@class_level), data: {method: :delete, confirm: "Are you sure you want to delete #{@class_level}?"}}
      %span.glyphicon.glyphicon-trash
%h1.title Class level #{@class_level}
%p
  %b Character:
  = @class_level.character
%p
  %b Character class:
  = @class_level.character_class
%p
  %b Class level:
  = @class_level.class_level
