-if can? :create, Weapon
  .pull-right
    %a{href: new_weapon_path}
      %span.glyphicon.glyphicon-plus
%h1.title Listing Weapons

%table
  %tr
    %th Name
    %th Desc
    %th Damage(s)
    %th Damage(m)
    %th Critical
    %th Range Increment
    %th Weight

    %th
      -if can? :create, Weapon
        %a{href: new_weapon_path}
          %span.glyphicon.glyphicon-plus

  - @weapons.each do |weapon|
    %tr
      %td= weapon.name
      %td= weapon.desc
      %td= weapon.damages
      %td= weapon.damagem
      %td= weapon.critical
      %td= weapon.rangeincrement
      %td= weapon.weight
      %td
        %a{href: weapon_path(weapon)}
          %span.glyphicon.glyphicon-file
        - if can? :edit, weapon
          %a{href: edit_weapon_path(weapon)}
            %span.glyphicon.glyphicon-pencil
        - if can? :destroy, weapon
          %a{href: weapon_path(weapon), data: {method: :delete, confirm: "Are you sure you want to delete #{weapon}?"}}
            %span.glyphicon.glyphicon-trash


