= simple_form_for(@character) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    .descriptors
      = f.input :race
      = f.input :size 
      = f.input :gender
      = f.input :alignment 
      = f.input :religion
      = f.input :height # meters?
      = f.input :weight # kilograms?
      = f.input :age
      = f.input :looks 
      = f.input :desc

 
    .ability_scores
      = f.input :base_str
      = f.input :base_dex
      = f.input :base_con
      = f.input :base_int
      = f.input :base_wis
      = f.input :base_cha
    .hp
      = f.input :current_hp

  .form-actions
    = f.button :submit
