%h1 Your Characters

%table
  %tr
    %th Name
    %th Race
    %th Class
    %th Str
    %th Dex
    %th Con
    %th Int
    %th Wis
    %th Cha

  - @characters.each do |character|
    %tr
      %td= link_to character.name, character
      %td= character.race
      %td= character.character_class
      %td= character.base_str
      %td= character.base_dex
      %td= character.base_con
      %td= character.base_int
      %td= character.base_wis
      %td= character.base_cha

%h3
  %a.btn.btn-primary{href: new_character_path}
    Create New Character

