%p User:
%p= @character.user.name
%h2= @character.name

.descriptors
%table.showchar
  %tr
  %th Race
  %th Size
  %th Gender
  %tr
  %td
    = @character.race
  %td  
    = @character.size 
  %td
    = @character.gender
  %tr
  %th Alignment
  %th Religion
  %th Height
  %tr
  %td
    = @character.alignment
  %td
    = @character.religion
  %td
    = @character.height
  %tr
  %th Weight
  %th Age
  %th Looks
  %tr
  %td
    = @character.weight
  %td
    = @character.age
  %td
    = @character.looks 
  %tr
  %th.showchardesc{:colspan => 3} Description
  %tr
  %td{:colspan => 3}
    = @character.desc


.abilities
%table.showchar
  %tr
  .ability.str
  %th Strength
  .ability.dex
  %th Dexterity
  .ability.con
  %th Constitution
  .ability.int
  %th Intelligence
  .ability.wis
  %th Wisdom
  .ability.cha
  %th Charisma
  %tr
  %td
    = @character.base_str
  %td
    = @character.base_dex
  %td
    = @character.base_con
  %td
    = @character.base_int
  %td
    = @character.base_wis
  %td
    = @character.base_cha

%h3= link_to 'Edit', edit_character_path(@character)
%h3= link_to 'Back', characters_path

