.pull-right
  = link_to 'Index', characters_path
  = link_to 'Edit', edit_character_path(@character)
  = link_to 'Destroy', @character, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %p
    User:
    = @character.user.name
  -if @character.public && current_user == @character.user
    .warn [Publicly Visible]
%h2
  = @character.name


.sectiontabs.col-md-6
  %ul#myTab.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#classification"} Classification
    %li
      %a{"data-toggle" => "tab", href: "#philosophies"} Philosophies
    %li
      %a{"data-toggle" => "tab", href: "#physicalapp"} Physial Appearance
    %li
      %a{"data-toggle" => "tab", href: "#stats"} Base Stats
  .tab-content
    #classification.tab-pane.fade.in.active
      %table.showchar
        %tr
        %th Race
        %th Size
        %th Gender
        %tr
        %td
          = link_me @character.race
        %td  
          = link_me @character.size 
        %td
          = @character.gender
      %table.showchar
        %tr
          %th Class
          %th Level
          %td= link_to "New", new_character_class_level_path(@character)
        - @character.class_levels.each do |cl|
          %tr
            %td=cl.character_class.name
            %td=cl.class_level
            %td= link_to "Edit", edit_character_class_level_path(@character,cl)
    #philosophies.tab-pane.fade
      %table.showchar
        %tr
        %th Alignment
        %th Religion
        %tr
        %td
          = @character.alignment
        %td
          = @character.religion
    #physicalapp.tab-pane.fade
      %table.showchar
        %th Height
        %th Weight
        %th Age
        %th Looks
        %tr
        %td
          = @character.height
        %td
          = @character.weight
        %td
          = @character.age
        %td
          = @character.looks

    #stats.tab-pane.fade
      %table.showchar
        %tr
          %th Ability
          %th Base
          %th Race
          %th Temp
          %th Total
          %th Mod
        - Character::ABILITIES.each do |ability|
          %tr
          .ability.str
          %th= Character::ABILITY_NAMES[ability]
          %td
            = @character.send "base_#{ability}"
          %td
            = @character.send "race_#{ability}"
          %td
            = @character.send "temp_#{ability}"
          %td
            = @character.send ability
          %td
            = @character.send "#{ability}_modifier"

          

.descriptors
  .mainchardesc.row
    %table.showchard
      %tr.showchard
      %th.showchard2 Description
      %tr.showchard
      %td.showchard
        = @character.desc
