= simple_form_for(@character_class) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :desc
    = f.input :class_abilities
    = f.input :hit_die
    = f.input :base_attack_bonus
    = f.input :base_fort_progression
    = f.input :base_ref_progression
    = f.input :base_will_progression
    = f.input :skill_points_per_level

  .form-actions
    = f.button :submit
