= simple_form_for(@character_class) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :class_abilities
    = f.input :hit_die
    = f.input :bab_type, collection: CharacterClass::BAB_TYPES
    = f.input :fort_type, collection: CharacterClass::SAVE_TYPES
    = f.input :ref_type, collection: CharacterClass::SAVE_TYPES
    = f.input :will_type, collection: CharacterClass::SAVE_TYPES
    = f.input :skill_points_per_level
    = f.input :desc

  .form-actions
    = f.button :submit
