
-if can? :create, CharacterClass
  .pull-right
    %a{href: new_character_class_path}
      %span.glyphicon.glyphicon-plus
%h1.title Character Classes

.row
  .col-xs-4
    %h2 Base
    = render partial: 'ul', object: @base
  .col-xs-4
    %h2 Prestige
    = render partial: 'ul', object: @prestige
  .col-xs-4
    %h2 Npc
    = render partial: 'ul', object: @npc

%table
  %tr
    %th Type
    %th Class
    %th HD
    %th Skill
    %th Bab
    %th Fort
    %th Ref
    %th Will
  - @character_classes.each do |cc|
    %tr
      %td= cc.class_type
      %td= cc.name
      %td= cc.hit_die
      %td= cc.skill_points_per_level
      %td= bab_fraction cc.base_attack_bonus
      %td= save_fraction cc.base_fort_progression
      %td= save_fraction cc.base_ref_progression
      %td= save_fraction cc.base_will_progression

