.pull-right
  %a{href: character_classes_path}
    %span.glyphicon.glyphicon-list
  -if can? :create, CharacterClass
    %a{href: new_character_class_path}
      %span.glyphicon.glyphicon-plus
  - if can? :edit, @character_class
    %a{href: edit_character_class_path(@character_class)}
      %span.glyphicon.glyphicon-pencil
  - if can? :destroy, @character_class
    %a{href: character_class_path(@character_class), data: {method: :delete, confirm: "Are you sure you want to delete #{@character_class}?"}}
      %span.glyphicon.glyphicon-trash
.pull-right.clear= render 'table'
.pull-right= render 'skills'
%h1.title #{@character_class}
%p
  %b Alignment:
  = @character_class.alignment_restrictions
%p
  %b Hit die:
  = @character_class.hit_die
%p
  %b Skill points per level:
  = @character_class.skill_points_per_level
  + Int Modifier
%p
  %b Class abilities:
  = @character_class.class_abilities
:maruku
  #{@character_class.desc}

