.pull-right
  %a{href: consumable_items_path}
    %span.glyphicon.glyphicon-list
  -if can? :create, ConsumableItem
    %a{href: new_consumable_item_path}
      %span.glyphicon.glyphicon-plus
  - if can? :edit, @consumable_item
    %a{href: edit_consumable_item_path(@consumable_item)}
      %span.glyphicon.glyphicon-pencil
  - if can? :destroy, @consumable_item
    %a{href: consumable_item_path(@consumable_item), data: {method: :delete, confirm: "Are you sure you want to delete #{@consumable_item}?"}}
      %span.glyphicon.glyphicon-trash
%h1.title Consumable item #{@consumable_item}
%p
  %b Name:
  = @consumable_item.name
%p
  %b Desc:
  = @consumable_item.desc
%p
  %b Effects:
  = @consumable_item.effects
%p
  %b Weight:
  = @consumable_item.weight
%p
  %b Cost:
  = @consumable_item.cost
