-if can? :create, Campaign
  .pull-right
    %a.btn.btn-large.btn-primary{href: new_campaign_path}
      Create a Campaign
%h1.title Campaigns
.row
  .col-md-4
    - if not @campaigns.empty?
      %h2 You Own
      %ul
        - @campaigns.each do |campaign|
          %li
            - if can? :edit, campaign
              .pull-right
                %a{href: edit_campaign_path(campaign)}
                  %span.glyphicon.glyphicon-pencil
                  Edit
            %a{href: campaign_path(campaign)}
              = campaign.name
  .col-md-4
    - if not @members.empty?
      %h2 You Play
      %ul.member
        - @members.each do |member|
          %li
            = member
    - if not @invitations.empty?
      %h2 Your Invited to
      %ul.invitations
        - @invitations.each do |invite|
          %li
            .pull-right
              = link_to "Accept Invitation", accept_campaign_members_path(invite)
            = invite


   
    
  .col-md-4

    %h1.title Public Campaigns

    %table
      %tr
        %th Name
        %th User
        %th Open?

      - @public_campaigns.each do |campaign|
        %tr
          %td
            %a{href: campaign_path(campaign)}
              = campaign.name
          %td= campaign.user
          %td= campaign.open




